@import url('./variables.css');
@import url('./null.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  line-height: var(--line-height);
  background-color: var(--color-primary);

  .container {
    min-height: 100vh;
    padding: 64px 40% 57px var(--container-padding);
    display: flex;
    flex-direction: column;

    @media (max-width: 850px) {
      padding: 55px var(--container-padding) 55px var(--container-padding);
    }
  }
  .top-container {
    margin-bottom: var(--spacing-block);
  }
  main {
    flex: 1;
    width: 100%;
    position: relative;
  }
  h1 {
    margin-bottom: var(--spacing-big);
  }
  h2 {
    margin-bottom: var(--spacing-medium);
  }
}
