.message {
    display: block;
    background-image: var(--url-message);
    width: 26px;
    height: 23px;
}
.microphone {
    display: block;
    background-image: var(--url-microphone);
    width: 26px;
    height: 35px;
}
.arrow-right {
    display: block;
    background-image: var(--url-arrow-right);
    width: 15px;
    height: 28px;
}