.message {
    margin-bottom: var(--block-padding);
    word-wrap: break-word;
}
.user {
    width: min(88%, 650px);
    margin-left: auto;
    padding: var(--block-padding);
    background: var(--color-surface);
    border-radius: var(--border-radius-secondary);
    position: relative;
}
.bot {
    width: min(95%, 700px);
}